@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Helvetica Neue';
    src: url('./fonts/Helvetica-Neue-Font/HelveticaNeueMediumExtended/HelveticaNeueMediumExtended.ttf');
  }

  html {
    background: linear-gradient(187.16deg, #181623 0.07%, #191725 51.65%, #0d0b14 98.75%);
    font-family: 'Helvetica Neue';
  }

  input:focus {
    border: 1px solid #ced4da;
    box-shadow: 0px 0px 0px 4px rgba(13, 110, 253, 0.25);
    outline: none;
  }

  textarea:focus {
    outline: none;
  }
  textarea:focus::placeholder {
    color: transparent;
  }

  textarea::placeholder {
    font-style: italic;
  }

  input:focus::placeholder {
    color: transparent;
  }

  #polygon {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }

  input[type='search']::-webkit-search-cancel-button,
  .search-input::-webkit-search-decoration,
  .search-input::-webkit-search-results-button,
  .search-input::-webkit-search-results-decoration {
    display: none;
  }

  input[type='file']::file-selector-button {
    border: none;

    color: #fff;
    cursor: pointer;
  }

  #poster {
    border: none;
    background: rgba(151, 71, 255, 0.4);
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 25px;
  }

  input[type='file'] {
    opacity: 0;
  }

  :root {
    --ms-tag-bg: #6c757d;
    --ms-tag-color: #fff;
    --ms-tag-radius: 2px;
    --ms-tag-font-weight: 200;
    --ms-border-color: #6c757d;
    --ms-bg: transparent;
    --ms-dropdown-bg: #6c757d;
    --ms-dropdown-border-color: #6c757d;
    --ms-group-label-color: #fff;
    --ms-border-width: 2px;
    --ms-py: 1rem;
    --ms-tag-py: 0.55rem;
  }
}
